
body{
  background-image: url(backroundsun.jpeg);
}

.character{
  width: 200px;
  height: 200px;
  position:absolute;
  bottom: 15%;
  left: 10%;
  background-image: url('mario8bit-2.png');
  background-size: cover;
}

.jump{
  animation: jump 1000ms forwards;
}


@keyframes  jump {
    0%{
      background-image: url(mario.webp);
    }
  50%{
      bottom: 60%;
    }
    95%{
      background-image: url(mario.webp);
    }
    100%{
      bottom: 15%;
      transform: rotate(-360deg);
      background-image: url('mario8bit-2.png');
    }
}

.Bullet{
  animation: Bullet 1000ms forwards;
}


@keyframes  jump {
    0%{

    }
  50%{

    }
    95%{

    }
    100%{

    }
}