
body{
  background-image: url(backroundsun.jpeg);
}

.character{
  width: 200px;
  height: 200px;
  position:absolute;
  bottom: 15%;
  left: 10%;
  background-image: url('mario8bit-2.png');
  background-size: cover;
}

.bullet{
  width: 250px;
  height: 150px;
  position:absolute;
  bottom: 20%;
  left: 90%;
  background-image: url('supermariobullet.png');
  background-size: cover;
  animation: bullet 10s infinite ;
}

.power{
  animation: power 4000ms forwards;
}

@keyframes power {
  0%{
    width: 500px;
    height: 500px;
  }
  100{
    width: 200px;
    height: 200px;
  }
}

.jump{
  animation: jump 5s forwards;
}

@keyframes  jump {
    0%{
      background-image: url(mario.webp);
    }
  50%{
      bottom: 60%;
    }
    95%{
      background-image: url(mario.webp);
    }
    100%{
      bottom: 15%;
      transform: rotate(-360deg);
      background-image: url('mario8bit-2.png');
    }
}

@keyframes  bullet {
  0%{
    background-image: url(supermariobullet.png);
  }

  100%{
left: -20%;
  }
}

